#dynamic{
    width: 100%;
    flex:1;
    /*background-color:greenyellow;*/
    overflow: scroll;
    /*display:flex;*/
    position: relative;
    display:flex;
    flex-flow: column;
}

/*#tm {display: none;}*/
.discover{
    width: 100%;
    flex:1;
    /*background-color:greenyellow;*/
    overflow: scroll;
    /*display:flex;*/
    position: relative;
    display:flex;
    flex-flow: column;
    z-index: 8;
}

.chat-item{
    height:40px;
    width: 100%;
    /*background-color: yellowgreen;*/

    border-bottom: 1px  solid rgba(33,33,33,0.1);
    border-top: 1px  solid rgba(33,33,33,0.1);
    display:flex;
    align-items:center;
    /*margin:0 auto;*/
}

.item-left{
    flex:1;
    display:flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;


}
#f{

}
.item-left-image{
    height:26px;
    width:26px;
    background-size: cover;
    background-position: center;
    border-radius: 2px;
    margin:8px 10px 8px 10px;
}
.item-left-title{
    margin-left: 5px;
    height: 26px;
    flex:1;
    /*display:flex;*/
    /*justify-content: flex-start;*/
    /*align-items: center;*/
    font-size:18px;
    font-weight:500;
    color:rgba(33,33,33,1);
    text-align: left;
    line-height:26px;
    letter-spacing:1px;
    display: flex;
}
#item-number{
    height:16px;
    width:16px;
    background-color: crimson;
    margin:6px 0px 4px 10px;
    border-radius: 50%;
    font-size: 10px;
    color: white;
    text-align: center;
    line-height: 16px;
}



.item-right{
    height:40px;
    width:20%;

    border-radius: 2px;

    display:flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}
.item-right-image{
    height:30px;
    width:30px;
    background-size: cover;
    background-position: center;
    border-radius: 2px;
    margin:2px 2px 2px 2px;
    /*opacity: 1;*/
}
.item-right-title{
    height:16px;
    width:16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2px;
    margin:5px 10px 5px 0px;
    opacity: 0.9;

}

/*.item-right:active .item-right-image{*/
    /*!*opacity: 0;*!*/
    /*display:none;*/
/*}*/
.chat-item:active .item-right-image{
    /*opacity: 0;*/
    display:none;
}

#let{
    height:12px;
    width:100%;
    background-color:rgba(212,212,212,0.3);
}

.letter{
    height:25px;
    width:100%;
    background-color:rgba(212,212,212,0.3);
}
.letttt{
    flex:1;
    width:100%;
    background-color:rgba(212,212,212,0.3);
}

